* {
  -moz-user-select: none;
  -webkit-user-select: none;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  70% {
    -webkit-transform: rotateY(200deg);
            transform: rotateY(200deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  70% {
    -webkit-transform: rotateY(200deg);
            transform: rotateY(200deg);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}

@-webkit-keyframes rotate-inverse {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  70% {
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

@keyframes rotate-inverse {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  70% {
    -webkit-transform: rotateY(-20deg);
            transform: rotateY(-20deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}

.game-bg {
  position: relative;
}

.game-bg:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../images/mamegoma-bg.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.game-content {
  padding: 0;
  width: 100%;
}

.game-content .stone {
  background-image: url("../images/gameboard-stone.png");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.user-icon {
  width: 178px;
  height: 150px;
}

.user-top {
  background-image: url("../images/user-icon-top.png");
}

.user-bottom {
  background-image: url("../images/user-icon-bottom.png");
}

.user-left {
  background-image: url("../images/user-icon-left.png");
}

.user-right {
  background-image: url("../images/user-icon-right.png");
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  padding: 0;
}

.center-content .location-top {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-content .game-board {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

.center-content .game-board .mame-line {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 220, 175, 0.315);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.center-content .game-board .mame-line .mame-tiki {
  height: 100%;
  border-radius: 3px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-content .game-board .mame-line .mame-tiki-1 {
  margin: 0;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffb8c0), to(#ee9ca7));
  background: linear-gradient(to bottom, #ffb8c0, #ee9ca7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-content .game-board .mame-line .mame-tiki-2 {
  background-color: #ffc4769f;
  background: #EDE574;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f5c4), to(#fff89c));
  background: linear-gradient(to bottom, #f0f5c4, #fff89c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-content .game-board .mame-line .mame-tiki-3 {
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#bfffc89f), to(#99ffa69f));
  background: linear-gradient(to bottom, #bfffc89f, #99ffa69f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-content .location-bottom {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.center-content .location-bottom .cards-panel-ud {
  position: relative;
}

.center-content .location-bottom .mame-card {
  width: 120px;
  height: 180px;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
  position: absolute;
  bottom: 0;
}

.center-content .location-bottom .mame-card.is-switched .mame-card-wrapper {
  -webkit-animation: rotate 0.6s linear both;
          animation: rotate 0.6s linear both;
}

.center-content .location-bottom .mame-card .mame-card-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: rotate-inverse 0.6s 1s linear both;
          animation: rotate-inverse 0.6s 1s linear both;
  margin-left: 10px;
}

.center-content .location-bottom .mame-card .mame-card-wrapper .mame-card-side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.center-content .location-bottom .mame-card .mame-card-wrapper .mame-card-side.is-active {
  position: static;
}

.center-content .location-bottom .mame-card .mame-card-wrapper .mame-card-side:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background-image: url("../images/Mamegoma_up_1.png");
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.3));
  -webkit-transition: .3s;
  transition: .3s;
}

.center-content .location-bottom .mame-card .mame-card-wrapper .mame-card-side:hover:after {
  position: absolute;
  border: 1px solid #ffef91;
  -webkit-box-shadow: 0 0 5px 5px #ffee8bbb;
          box-shadow: 0 0 5px 5px #ffee8bbb;
  -webkit-filter: drop-shadow(6px 7px 4px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(6px 7px 4px rgba(0, 0, 0, 0.3));
  width: 110%;
  height: 110%;
  top: -30px;
}

.center-content .location-bottom .mame-card .mame-card-wrapper .mame-card-side-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 100%;
  height: 100%;
}

.center-content .location-bottom .mame-card .mame-card-wrapper .mame-card-side-back:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background-image: url("../images/mamegoma_card.png");
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.3));
  -webkit-transition: .3s;
  transition: .3s;
}

.location-left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location-right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-panel {
  background-color: rgba(255, 205, 255, 0.5);
  border-radius: 10px;
}

.cards-panel-ud {
  width: 100%;
  height: 150px;
}

.cards-panel-lr {
  width: 150px;
  height: 70%;
}
/*# sourceMappingURL=gameboard.css.map */